In [3]:
import polars as pl
df = pl.read_csv("batch_1125-main/dask_csv_demo_files/sales_*.csv")

df

shape: (12_000, 7)
┌──────────┬─────────────┬────────────┬────────────┬──────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ product_id ┆ date       ┆ quantity ┆ unit_price ┆ total_price │
│ ---      ┆ ---         ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ i64        ┆ str        ┆ i64      ┆ f64        ┆ f64         │
╞══════════╪═════════════╪════════════╪════════════╪══════════╪════════════╪═════════════╡
│ 1        ┆ 1027        ┆ 4          ┆ 2023-04-13 ┆ 1        ┆ 186.56     ┆ 186.56      │
│ 2        ┆ 1078        ┆ 14         ┆ 2023-12-15 ┆ 1        ┆ 408.44     ┆ 408.44      │
│ 3        ┆ 1005        ┆ 10         ┆ 2023-09-28 ┆ 1        ┆ 309.67     ┆ 309.67      │
│ 4        ┆ 1060        ┆ 3          ┆ 2023-04-17 ┆ 1        ┆ 391.76     ┆ 391.76      │
│ 5        ┆ 1019        ┆ 3          ┆ 2023-03-13 ┆ 3        ┆ 362.33     ┆ 1086.99     │
│ …        ┆ …           ┆ …          ┆ …          ┆ …        ┆ …          ┆ …           │
│ 11996    ┆ 1044        ┆ 19         ┆ 2023-12-07 ┆ 2        ┆ 169.69     ┆ 339.38      │
│ 11997    ┆ 1014        ┆ 7          ┆ 2023-03-09 ┆ 2        ┆ 195.13     ┆ 390.26      │
│ 11998    ┆ 1064        ┆ 16         ┆ 2023-03-12 ┆ 3        ┆ 287.24     ┆ 861.72      │
│ 11999    ┆ 1095        ┆ 20         ┆ 2023-04-08 ┆ 4        ┆ 210.71     ┆ 842.84      │
│ 12000    ┆ 1017        ┆ 8          ┆ 2023-04-19 ┆ 1        ┆ 180.75     ┆ 180.75      │
└──────────┴─────────────┴────────────┴────────────┴──────────┴────────────┴─────────────┘

In [4]:
df.shape

(12000, 7)

In [7]:
df.columns

['order_id',
 'customer_id',
 'product_id',
 'date',
 'quantity',
 'unit_price',
 'total_price']

In [9]:
df.select("order_id")

shape: (12_000, 1)
┌──────────┐
│ order_id │
│ ---      │
│ i64      │
╞══════════╡
│ 1        │
│ 2        │
│ 3        │
│ 4        │
│ 5        │
│ …        │
│ 11996    │
│ 11997    │
│ 11998    │
│ 11999    │
│ 12000    │
└──────────┘

In [10]:
df.mean

<bound method DataFrame.mean of shape: (12_000, 7)
┌──────────┬─────────────┬────────────┬────────────┬──────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ product_id ┆ date       ┆ quantity ┆ unit_price ┆ total_price │
│ ---      ┆ ---         ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ i64        ┆ str        ┆ i64      ┆ f64        ┆ f64         │
╞══════════╪═════════════╪════════════╪════════════╪══════════╪════════════╪═════════════╡
│ 1        ┆ 1027        ┆ 4          ┆ 2023-04-13 ┆ 1        ┆ 186.56     ┆ 186.56      │
│ 2        ┆ 1078        ┆ 14         ┆ 2023-12-15 ┆ 1        ┆ 408.44     ┆ 408.44      │
│ 3        ┆ 1005        ┆ 10         ┆ 2023-09-28 ┆ 1        ┆ 309.67     ┆ 309.67      │
│ 4        ┆ 1060        ┆ 3          ┆ 2023-04-17 ┆ 1        ┆ 391.76     ┆ 391.76      │
│ 5        ┆ 1019        ┆ 3          ┆ 2023-03-13 ┆ 3        ┆ 362.33     ┆ 1086.99     │
│ …        ┆ …           ┆ …          ┆ …          ┆ …        ┆ …          ┆ …           │
│ 11996    ┆ 1044        ┆ 19         ┆ 2023-12-07 ┆ 2        ┆ 169.69     ┆ 339.38      │
│ 11997    ┆ 1014        ┆ 7          ┆ 2023-03-09 ┆ 2        ┆ 195.13     ┆ 390.26      │
│ 11998    ┆ 1064        ┆ 16         ┆ 2023-03-12 ┆ 3        ┆ 287.24     ┆ 861.72      │
│ 11999    ┆ 1095        ┆ 20         ┆ 2023-04-08 ┆ 4        ┆ 210.71     ┆ 842.84      │
│ 12000    ┆ 1017        ┆ 8          ┆ 2023-04-19 ┆ 1        ┆ 180.75     ┆ 180.75      │
└──────────┴─────────────┴────────────┴────────────┴──────────┴────────────┴─────────────┘>

In [12]:
df.to_numpy

<bound method DataFrame.to_numpy of shape: (12_000, 7)
┌──────────┬─────────────┬────────────┬────────────┬──────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ product_id ┆ date       ┆ quantity ┆ unit_price ┆ total_price │
│ ---      ┆ ---         ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ i64        ┆ str        ┆ i64      ┆ f64        ┆ f64         │
╞══════════╪═════════════╪════════════╪════════════╪══════════╪════════════╪═════════════╡
│ 1        ┆ 1027        ┆ 4          ┆ 2023-04-13 ┆ 1        ┆ 186.56     ┆ 186.56      │
│ 2        ┆ 1078        ┆ 14         ┆ 2023-12-15 ┆ 1        ┆ 408.44     ┆ 408.44      │
│ 3        ┆ 1005        ┆ 10         ┆ 2023-09-28 ┆ 1        ┆ 309.67     ┆ 309.67      │
│ 4        ┆ 1060        ┆ 3          ┆ 2023-04-17 ┆ 1        ┆ 391.76     ┆ 391.76      │
│ 5        ┆ 1019        ┆ 3          ┆ 2023-03-13 ┆ 3        ┆ 362.33     ┆ 1086.99     │
│ …        ┆ …           ┆ …          ┆ …          ┆ …        ┆ …          ┆ …           │
│ 11996    ┆ 1044        ┆ 19         ┆ 2023-12-07 ┆ 2        ┆ 169.69     ┆ 339.38      │
│ 11997    ┆ 1014        ┆ 7          ┆ 2023-03-09 ┆ 2        ┆ 195.13     ┆ 390.26      │
│ 11998    ┆ 1064        ┆ 16         ┆ 2023-03-12 ┆ 3        ┆ 287.24     ┆ 861.72      │
│ 11999    ┆ 1095        ┆ 20         ┆ 2023-04-08 ┆ 4        ┆ 210.71     ┆ 842.84      │
│ 12000    ┆ 1017        ┆ 8          ┆ 2023-04-19 ┆ 1        ┆ 180.75     ┆ 180.75      │
└──────────┴─────────────┴────────────┴────────────┴──────────┴────────────┴─────────────┘>

In [14]:
df.filter

<bound method DataFrame.filter of shape: (12_000, 7)
┌──────────┬─────────────┬────────────┬────────────┬──────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ product_id ┆ date       ┆ quantity ┆ unit_price ┆ total_price │
│ ---      ┆ ---         ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ i64        ┆ str        ┆ i64      ┆ f64        ┆ f64         │
╞══════════╪═════════════╪════════════╪════════════╪══════════╪════════════╪═════════════╡
│ 1        ┆ 1027        ┆ 4          ┆ 2023-04-13 ┆ 1        ┆ 186.56     ┆ 186.56      │
│ 2        ┆ 1078        ┆ 14         ┆ 2023-12-15 ┆ 1        ┆ 408.44     ┆ 408.44      │
│ 3        ┆ 1005        ┆ 10         ┆ 2023-09-28 ┆ 1        ┆ 309.67     ┆ 309.67      │
│ 4        ┆ 1060        ┆ 3          ┆ 2023-04-17 ┆ 1        ┆ 391.76     ┆ 391.76      │
│ 5        ┆ 1019        ┆ 3          ┆ 2023-03-13 ┆ 3        ┆ 362.33     ┆ 1086.99     │
│ …        ┆ …           ┆ …          ┆ …          ┆ …        ┆ …          ┆ …           │
│ 11996    ┆ 1044        ┆ 19         ┆ 2023-12-07 ┆ 2        ┆ 169.69     ┆ 339.38      │
│ 11997    ┆ 1014        ┆ 7          ┆ 2023-03-09 ┆ 2        ┆ 195.13     ┆ 390.26      │
│ 11998    ┆ 1064        ┆ 16         ┆ 2023-03-12 ┆ 3        ┆ 287.24     ┆ 861.72      │
│ 11999    ┆ 1095        ┆ 20         ┆ 2023-04-08 ┆ 4        ┆ 210.71     ┆ 842.84      │
│ 12000    ┆ 1017        ┆ 8          ┆ 2023-04-19 ┆ 1        ┆ 180.75     ┆ 180.75      │
└──────────┴─────────────┴────────────┴────────────┴──────────┴────────────┴─────────────┘>

In [17]:
df.select(pl.col("quantity").is_null())

shape: (12_000, 1)
┌──────────┐
│ quantity │
│ ---      │
│ bool     │
╞══════════╡
│ false    │
│ false    │
│ false    │
│ false    │
│ false    │
│ …        │
│ false    │
│ false    │
│ false    │
│ false    │
│ false    │
└──────────┘

In [4]:
df = pl.read_csv("Titanic-Dataset.csv")
df

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [24]:
df.select(pl.col("Age").is_null())

shape: (891, 1)
┌───────┐
│ Age   │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ false │
│ false │
│ false │
│ false │
│ …     │
│ false │
│ false │
│ true  │
│ false │
│ false │
└───────┘

In [27]:
df.with_columns("Age")

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [28]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [29]:
df.group_by("Sex").agg(pl.mean("Survived").alias("survival_rate"))

shape: (2, 2)
┌────────┬───────────────┐
│ Sex    ┆ survival_rate │
│ ---    ┆ ---           │
│ str    ┆ f64           │
╞════════╪═══════════════╡
│ female ┆ 0.742038      │
│ male   ┆ 0.188908      │
└────────┴───────────────┘

In [31]:
df.with_columns(pl.col("Age").fill_null(pl.median("Age").over("Sex")))

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [5]:
df = pl.scan_csv("Titanic-Dataset.csv")

In [37]:
res = df.group_by("Pclass").agg(pl.col("Age").mean().alias("age_mean")).collect()
res

shape: (3, 2)
┌────────┬───────────┐
│ Pclass ┆ age_mean  │
│ ---    ┆ ---       │
│ i64    ┆ f64       │
╞════════╪═══════════╡
│ 2      ┆ 29.87763  │
│ 3      ┆ 25.14062  │
│ 1      ┆ 38.233441 │
└────────┴───────────┘